body { 
  background: linear-gradient(#1fb2d2, #012027);
  background-repeat: no-repeat;
}
.contain {
  text-align: center;
  width: 90%;
  margin: auto;
}
.title { 
  text-align: center; 
  margin: 20px auto 30px; 
  color: #12170c;
  text-shadow: 2px 2px 4px #da6565;
  text-transform: uppercase;
  text-decoration: overline;
}
.card { 
  float: left;
  height: 380px;
  transition: all 400ms ease;
  border: 2px solid #f8efbc;
  margin: 5px;
}
.card:hover {
  background-color: #c74242 !important;
  box-shadow: 0px 0px 25px rgb(255, 255, 255);
}
p { text-align: justify; }
.cardBtn {
  width: 150px; 
  padding: 0px 10px 15px;
  margin: auto;
}
.modal { color: #000; }
#showString, #showNums1000, #showType, #showAddImpar, 
#showFactorOne, #showMayMen, #showPoten, #showResult { 
  background-color: aliceblue;
  text-align: center; 
  font-size: 1.3em;
  padding: 5px;
  margin: 0;
  font-weight: 600;
}
#showNums, #showPrimos, #showSquart, #showImpar, 
#showPares, #showFibo, #showFactor {
  background-color: aliceblue;
  height: 195px;
  overflow: auto;
  font-weight: 500;
  padding: 10px;
}
.req:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
  border: 1px solid rgb(255, 147, 147);
}
.btn-info:hover {
  background-color: #005c79;
  color: #fff;
}
.btn-info {
  border: 2px solid #f8efbc;
  font-weight: 500;
}
.modal-header {
  border-bottom: 2px solid #000;
  background-color: #1fb2d2;
}
.card-header {
  background-color: #007e94;
  font-weight: 500;
}