body {
    background: -webkit-radial-gradient(#d00000, #032b43);
    color: #fff;
    height: calc(100vh - 29px);
    text-align: center;
    position: relative;
    user-select: none ;
}
h1, h2 {
    margin-bottom: 0px;
    margin-top: 15px;
    color: #ffba08;
}
p {
    color: #f5dfbb;
}
.canvas-space #space-draw {
    border: 5px double black;
    box-shadow: 3px 3px 20px rgb(0, 0, 0);
    position: absolute;
    top: 100;
    left: 10px;
    background-color: #fff;
    cursor: crosshair;
}
.contain-menu {
    width: 300px;
    height: 350px;
    position: absolute;
    top: 150px;
    left: 1040px;
    padding: 10px;
    box-sizing: border-box;
}
.contain-set {
    margin-bottom: 20px;
}
.contain-menu h2 {
    margin-bottom: 40px;
}
.contain-set button {
    width: 130px;
    padding: 5px;
    margin: 0 auto 20px;
    border: 2px outset gray;
    border-radius: 520px;
    font-weight: 500;
    display: block;
    background-color: #ffcfcc;
}
.contain-set button:hover {
    border: 2px outset black;
    background-color: #ba0000;
    color: #fff;
}
.contain-set.btn {
    margin-top: 40px;
}
.contain-menu label, input {
    padding-right: 10px;
    vertical-align: middle;
    background-color: inherit;
    border: none;
}
.contain-set label {
    color: #f5dfbb;
}